<div class="nav">
  <a routerLink="login" routerLinkActive="active-link">Login</a>
  <a routerLink="home" routerLinkActive="active-link">Home</a>
</div>

<router-outlet></router-outlet>


















<!-- <div *ngIf="false" [class]="0.1+0.2">this appears only if truthy</div>

<ol>
  <li *ngFor="let car of cars; let i=index; let odd=odd;">{{car | uppercase}}, position {{i | currency}}, is it odd? -> {{odd}}</li>
</ol> -->

<!-- <pre>{{dummyJson | json}}</pre>
{{add(1,2)}} -->

<!-- <app-login [outsideData]="dummyJson"></app-login> -->
<!-- <app-home></app-home> -->

<!-- <button (click)="changeDummyJson()">Click Me!</button> -->
